@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff')
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/OpenSans-Italic.woff2') format('woff2'),
       url('../fonts/OpenSans-Italic.woff') format('woff')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff')
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff')
}

:root {
  --black: #000;
  --dark: #333;
  --gray: #666;
  --light-gray: #999;
  --white: #fff;
  --dark-purple: #7943A4;
  --purple: #9D5CD0;
  --light-purple: #C283F3;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-width: 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
}

input {
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.container {
  padding-right: 8.33%;
  padding-left: 8.33%;
}

.btn {
  border-radius: 100px;

  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--white);

  background-color: var(--purple);
}

.section__title {
  font-size: 48px;
  font-weight: 400;
  line-height: 65px;
  color: var(--dark);
}

.section__description {
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}

/* Header */

.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--black);
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: -89px;
}

.header__nav-list {
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header__nav-link {
  position: relative;
  z-index: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);

  transition: color .15s ease-in;
}

.header__nav-link:hover {
  color: var(--light-purple);
}

.header__nav-link:active {
  color: var(--dark-purple);
}

.header__nav-link:focus::before {
  position: absolute;
  top: -3px;
  left: -6px;
  right: -6px;
  bottom: -4px;
  content: '';
  background-color: var(--dark-purple);
  z-index: -1;
}

.header__nav-link:hover::before,
.header__nav-link:active::before {
  position: unset;
}

.join-btn {
  position: relative;
  z-index: 0;

  font-size: 18px;
  line-height: 25px;
  color: var(--white);

  transition: color .15s ease-in;
}

.join-btn-logo {
  margin-right: 3px;

  transition: fill .15s ease-in;
}

.join-btn-logo path {
  transition: fill .15s ease-in;
}

.join-btn:hover {
  color: var(--light-purple);
}

.join-btn:hover .join-btn-logo path {
  fill: var(--light-purple);
}

.join-btn:active {
  color: var(--purple);
}

.join-btn:active .join-btn-logo path {
  fill: var(--purple);
}

.join-btn:active {
  color: var(--purple);
}

.join-btn:focus::before {
  position: absolute;
  top: 6px;
  left: -5px;
  right: -5px;
  bottom: 6px;
  content: '';
  background-color: var(--dark-purple);
  z-index: -1;
}

.join-btn:active::before,
.join-btn:hover::before {
  position: relative;
}

.header-bottom__container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 22px;
  z-index: 0;

  background-color: rgba(0, 0, 0, .4);
}

.header-bottom__list {
  display: flex;
}

.header-bottom__item:not(:last-child) {
  margin-right: 96px;
}

.dropdown {
  position: relative;
}

.header-bottom__btn {
  position: relative;

  font-size: 18px;
  line-height: 25px;
  color: var(--white);

  transition: color .15s ease-in;
}

.header-bottom__btn svg {
  transition: transform .15s ease-in;
}

.header-bottom__btn:hover {
  color: var(--purple);
}

.header-bottom__btn-active,
.header-bottom__btn:active {
  color: var(--dark-purple);
}

.header-bottom__btn-active svg,
.header-bottom__btn:active svg {
  transform: scale(-100%);
}

.header-bottom__btn svg path {
  transition: stroke .15s ease-in;
}

.header-bottom__btn:hover svg path {
  stroke: var(--purple);
}

.header-bottom__btn-active svg path,
.header-bottom__btn:active svg path {
  stroke: var(--dark-purple);
}

.header-bottom__btn:focus::before {
  position: absolute;
  top: 1px;
  bottom: -2px;
  right: -7px;
  left: -7px;
  content: '';
  background-color: var(--dark-purple);
  z-index: -1;
}

.header-bottom__btn:active::before,
.header-bottom__btn:hover::before {
  position: relative;
}

.header-bottom__btn.header-bottom__btn-active::before {
  background-color: transparent;
}

.header__dropdown-list {
  display: none;
  position: absolute;
  top: 47px;
  padding: 40px;
  height: 300px;
  width: 300px;
  overflow: scroll;

  background-color: rgba(0, 0, 0, .6);
}

.dropdown-active {
  display: block;
}

.header__dropdown-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 14px;

  transition: outline .15s ease-in;
}

.header__dropdown-item:hover {
  outline: 2px solid var(--purple);
  outline-offset: -2px;
}

.header__dropdown-item:focus-within {
  outline: 2px solid var(--purple);
  outline-offset: -2px;
}

.header__dropdown-link:active::after {
  outline: 2px solid var(--purple);
  outline-offset: -2px;
  background-color: rgba(194, 131, 243, 0.4);
}

.header__dropdown-link {
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: var(--white);
}

.header__dropdown-link::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: outline .15s ease-in, background-color .15s ease-in;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown-1 {
  background-image: url('../img/dropdown/dropdown-1.jpg');
}
.dropdown-2 {
  background-image: url('../img/dropdown/dropdown-2.jpg');
}
.dropdown-3 {
  background-image: url('../img/dropdown/dropdown-3.jpg');
}
.dropdown-4 {
  background-image: url('../img/dropdown/dropdown-4.jpg');
}
.dropdown-5 {
  background-image: url('../img/dropdown/dropdown-5.jpg');
}
.dropdown-6 {
  background-image: url('../img/dropdown/dropdown-6.jpg');
}
.dropdown-7 {
  background-image: url('../img/dropdown/dropdown-7.jpg');
}
.dropdown-8 {
  background-image: url('../img/dropdown/dropdown-8.jpg');
}
.dropdown-9 {
  background-image: url('../img/dropdown/dropdown-9.jpg');
}
.dropdown-10 {
  background-image: url('../img/dropdown/dropdown-10.jpg');
}
.dropdown-11 {
  background-image: url('../img/dropdown/dropdown-11.jpg');
}
.dropdown-12 {
  background-image: url('../img/dropdown/dropdown-12.jpg');
}
.dropdown-13 {
  background-image: url('../img/dropdown/dropdown-13.jpg');
}
.dropdown-14 {
  background-image: url('../img/dropdown/dropdown-14.jpg');
}
.dropdown-15 {
  background-image: url('../img/dropdown/dropdown-15.jpg');
}
.dropdown-16 {
  background-image: url('../img/dropdown/dropdown-16.jpg');
}
.dropdown-17 {
  background-image: url('../img/dropdown/dropdown-17.jpg');
}
.dropdown-18 {
  background-image: url('../img/dropdown/dropdown-18.jpg');
}
.dropdown-19 {
  background-image: url('../img/dropdown/dropdown-19.jpg');
}
.dropdown-20 {
  background-image: url('../img/dropdown/dropdown-20.jpg');
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search-icon {
  margin-right: 8px;
}

.header__search-input {
  width: 218px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .85);
  padding-bottom: 3px;

  color: var(--white);

  background-color: transparent;

  transition: border-color .15s ease-in;
}

.header__search-input:focus,
.header__search-input:hover {
  border-color: var(--light-purple);
}

.header__search-input:active {
  border-color: var(--dark-purple);
}

.header__search-input::placeholder {
  font-size: 18px;
  line-height: 25px;
  color: rgba(255,  255, 255, .85);
}

/* Hero */

.section-hero {
  background-image: url('../img/hero/hero-1.jpg');
  background-position: center 52.2%;
  background-repeat: no-repeat;
  background-size: cover;

  animation: zoom-in-out 45s ease-in-out infinite;
}

.section-hero__container{
  padding-top: 142px;
  padding-bottom: 145px;
}

.section-hero__title{
  max-width: 600px;
  margin-bottom: 18px;

  font-size: 72px;
  font-weight: 700;
  line-height: 83px;
  color: var(--white);
}

.section-hero__description {
  max-width: 600px;
  margin-bottom: 114px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--white);
}

.section-hero__btn{
  position: relative;
  padding: 19.5px 32px;
  border: 3px solid var(--purple);

  transition: border-color .15s ease-in, background-color .15s ease-in;
}

.section-hero__btn:focus::after {
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  content: '';
  border-radius: 100px;
  border: 2px solid var(--light-purple);
}

.section-hero__btn:hover {
  border-color: #D1A9F0;
}

.section-hero__btn:active {
  background-color: var(--dark-purple);
}

.section-hero__btn:hover::after,
.section-hero__btn:active::after {
  border: none;
}

/* About us */

.section-about-us__container {
  padding-top: 80px;
  padding-bottom: 70px;
}

.section-about-us__title {
  margin-bottom: 16px;
}

.section-about-us__description {
  max-width: 1080px;
}

/* Gallery */

.section-gallery {
  background-image: url('../img/gallery/gallery-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-gallery__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 161px;
  padding-bottom: 80px;
}

.section-gallery__title {
  position: absolute;
  top: 80px;

  color: var(--white);
}

.section-gallery__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  margin-right: 50px;
}

.choices {
  max-width: 400px;
  margin-top: 10px;

  transition: background-color .15s ease-in;
}

.choices__inner,
.choices__list--dropdown {
  background-color: transparent;
}

.choices__inner {
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--white);
  z-index: 10;
  height: 40px;
  min-height: 36px;
  padding: 3px 15px 0 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices__list--single {
  padding: 0;
}

.choices__item.choices__item--selectable {
  color: var(--white);
}

.choices__item,
.choices__list--dropdown .choices__item {
  height: 38px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--light-gray);
}

.choices__list--dropdown .choices__item:not(:last-child) {
  border-bottom: 1px solid var(--light-gray);
}

.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 6px;
  border: 1px solid var(--white);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, .2);
  color: var(--white)
}

.choices__list {
  margin-top: -1px;
}

.choices__list--dropdown {
  border: 1px solid var(--light-gray);
}

.choices__list--dropdown {
  border-radius: 6px;
}

.is-open {
  background-color: transparent !important;
}

.section-gallery__label {
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  color: var(--white);
}

.choices:focus,
.choices:hover {
  background-color: rgba(255, 255, 255, .2);
}

.section-gallery__notation {
  margin-bottom: -10px;
  line-height: 32px;
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.swiper-wrapper {
  position: relative;
  width: auto !important;
  padding-top: 60px;
}

.section-gallery__join-link {
  color: var(--light-purple);

  transition: color .15s ease-in;
}

.section-gallery__join-link:focus {
  color: var(--purple);
}

.section-gallery__join-link:hover {
  color: var(--purple);
}

.section-gallery__join-link:active {
  color: var(--dark-purple);
}

.section-gallery__swiper-slide__img {
  width: 100%;
}

.swiper-slide {
  width: calc(33.33% - 33.33px) !important;
  height: auto;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  margin-top: -56px;
  width: 1150px;
  height: 810px;
}

.swiper-button-prev {
  left: 3px;
}

.swiper-button-prev::after,
.swiper-container-rtl
.swiper-button-next::after {
  content: '';
  background-image: url('../img/svg/prev.svg');
}

.swiper-button-next {
  left: 103px;
}

.swiper-button-next::after,
.swiper-container-rtl
.swiper-button-prev::after {
  content: '';
  background-image: url('../img/svg/next.svg');
}

.swiper-button-next::after,
.swiper-button-prev::after {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center center;

  transition: background-color .15s ease-in;
}

.swiper-button-next:focus::after,
.swiper-button-prev:focus::after {
  height: 26px;
  width: 26px;
  border: 2px solid var(--black);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
  height: 30px;
  width: 30px;
  border: none;
  background-color: var(--purple);
}

.swiper-button-next:active::after,
.swiper-button-prev:active::after {
  height: 26px;
  width: 26px;
  border: 2px solid var(--black);
  background-color: var(--dark-purple);
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px;
  top: 15px;
}

.swiper-pagination {
  text-align: left;
  margin-left: 51px;
  top: 7px;
  color: var(--white);
  z-index: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: .5;
}

.simplebar-track::before {
  position: absolute;
  content: '';
  left: 0px;
  right: 9px;
  top: 0;
  bottom: 0;
  background-color: var(--black);
}

.simplebar-track.simplebar-vertical {
  margin-right: 9px;
  top: 40px;
  bottom: 40px;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 9px;
  background-color: var(--white);
  opacity: 1;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

/* Catalog */

.section-catalog__container {
  position: relative;
  padding-top: 80px;
}

.section-catalog__title {
  margin-bottom: 16px;
}

.section-catalog__description {
  max-width: 1080px;
  margin-bottom: 42px;
}

.section-catalog__lang {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 66px;
  border: 2px solid transparent;
  border-radius: 100%;

  transition: border .15s ease-in, filter .15s ease-in;
}

.section-catalog__lang:not(:last-child) {
  margin-right: 30px;
}

.section-catalog__lang:focus,
.section-catalog__lang:hover {
  filter: drop-shadow(0px 0px 10px rgba(157, 92, 208, 0.7));
}

.section-catalog__lang-active {
  border: 2px solid var(--dark-purple);
  filter: drop-shadow(0px 0px 0px rgba(157, 92, 208, 0.7)) !important;
  cursor: default;
}

.section-catalog__tabs {
  position: absolute;
  top: 82px;
  left: 372px;
  display: flex;
}

.section-catalog__tab {
  display: none;
}

.section-catalog__tab-active {
  display: block;
}

.section-catalog__list {
  width: 50%;
  margin-left: auto;
}

.section-catalog__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;

  background-color: #ececec;
}

.ui-icon {
  display: none;
}

.section-catalog__item-title {
  display: flex;
  align-items: center;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark);
}

.section-catalog__item-content {
  display: flex;
  flex: 0 0 33.33%;
}

.section-catalog__item-column:not(:nth-child(3n)) {
  margin-right: 60px;
}

.section-catalog__item-year {
  display: flex !important;
  justify-content: space-between;
  padding: 32px 0 !important;
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;

  background-color: transparent;

  transition: border .15s ease-in;
}

.section-catalog__item {
  margin-top: -3px;
}

.section-catalog__item-content {
  padding: 25px 0 !important;
  border-radius: 0;
  border: none;
}

.ui-accordion-header-active,
.section-catalog__item-year:active,
.section-catalog__item-year:hover {
  border-color: var(--dark-purple);
  position: relative;
  background-color: transparent;
  z-index: 10;
}

.ui-accordion-header .section-catalog__item-icon {
  transition: background-color .15s ease-in, transform .25s ease-in;
}

.ui-accordion-header-active .section-catalog__item-icon,
.ui-accordion-header:active .section-catalog__item-icon {
  background-color: #D1A9F0;
  transform: rotate(180deg);
}


.section-catalog__item-year:focus .section-catalog__item-icon,
.section-catalog__item-year:hover .section-catalog__item-icon {
  background-color: #D1A9F0;
}

.section-catalog__item-year:hover .section-catalog__item-title {
  color: var(--purple);
}

.ui-accordion-header-active .section-catalog__item-title,
.section-catalog__item-year:active .section-catalog__item-title {
  color: var(--dark-purple);
}


.ui-state-focus .section-catalog__item-title {
  background-color: var(--purple);
  color: var(--white) !important;
}

.ui-widget,
.ui-widget button {
  font-family: 'Open Sans', sans-serif;
}

.section-catalog__item-btn {
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
  text-align: left;
  text-decoration-color: transparent;

  transition: color .15s ease-in, text-decoration-color .15s ease-in, background-color .15s ease-in;
}

.section-catalog__item-btn:focus {
  color: var(--white);
  background-color: var(--purple);
}

.section-catalog__item-btn:focus.section-catalog__item-btn:hover {
  color: var(--white);
  background-color: var(--purple);
}

.section-catalog__item-btn:hover {
  color: var(--purple);
  text-decoration: var(--purple) underline 1px;
  text-underline-offset: 5px;
}

.section-catalog__item-btn:active,
.section-catalog__item-btn-active,
.section-catalog__item-btn:hover.section-catalog__item-btn:active.section-catalog__item-btn:focus {
  color: var(--dark-purple);
  background-color: transparent;
  text-decoration-color: transparent;
}

.section-catalog__item-description {
  position: absolute;
  top: 328px;
  right: 52.6%;
  left: 8.33%;
  display: none;
}

.section-catalog__item-description-active {
  display: block;
}

.section-catalog__description-img {
  width: 100%;
  margin-bottom: 26px;
}

.section-catalog__description-title {
  margin-bottom: 9px;

  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: var(--dark);
}

.section-catalog__description-date {
  margin-bottom: 6px;

  font-size: 12px;
  line-height: 16px;
  color: var(--light-gray);
}

.section-catalog__description-description {
  font-size: 16px;
  line-height: 32px;
  color: var(--dark);
}

/* Events */

.section-events__container {
  display: flex;
  flex-direction: column;
  padding-top: 81px;
  padding-bottom: 80px;
}

.section-events__list {
  display: flex;
  flex-wrap: wrap;
}

.section-events__item {
  flex: 0 1 calc(33.33% - 33.33px);
}

.section-events__item:not(:nth-child(3n)) {
  margin-right: 50px;
}

.section-events__title {
  margin-bottom: 16px;
}

.section-events__article {
  position: relative;
  padding: 49px 48px 49px 49px;
  height: 400px;
  border: 1px solid #cacaca;
  border-top: none;
  margin-top: -3px;
  margin-bottom: 50px;
}

.section-events__article-date {
  position: absolute;
  top: 14px;
  right: 18px;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: var(--light-gray);
  text-align: right;
}

.section-events__article-title {
  margin-bottom: 3px;

  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  color: var(--dark);
}

.section-events__article-description {
  margin-bottom: 80px;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--dark);
}

.section-events__article-link {
  position: absolute;
  bottom: 47px;
  left: 49px;
  color: var(--purple);

  text-decoration: solid underline 1px var(--purple);
  text-underline-offset: 6px;

  transition: color .15s ease-in, text-decoration .15s ease-in, background-color .15s ease-in;
}

.section-events__article-link:focus {
  padding: 7px 8px 11px;
  bottom: 36px;
  left: 41px;

  color: var(--white);
  text-decoration-color: var(--white);

  background-color: var(--purple);
}

.section-events__article-link:hover {
  text-decoration-color: var(--dark-purple);
  color: var(--dark-purple);
  background-color: transparent;
}

.section-events__article-link:active {
  text-decoration-color: var(--dark);
  color: var(--dark);
  background-color: transparent;
}

.section-events__item-hidden {
  display: none;
}

.section-events__img {
  width: 100%;
}

.section-events__show-all-btn {
  position: relative;
  padding: 15px 33px;
  border-radius: 100px;
  border: 2px solid var(--purple);
  width: max-content;
  align-self: center;

  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: var(--purple);

  transition: color .15s ease-in, background-color .15s ease-in, border .15s ease-in, padding .15s ease-in;
}

.section-events__show-all-btn-hidden {
  display: none;
}

.section-events__show-all-btn:focus::before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  content: '';
  border-radius: 100px;
  border: 2px solid var(--light-purple);
}

.section-events__show-all-btn:hover {
  color: var(--white);
  background-color: var(--purple);
}

.section-events__show-all-btn:active {
  padding: 14px 32px;
  color: var(--white);
  background-color: var(--dark-purple);
  border: 3px solid #D1A9F0;
}

.section-events__show-all-btn:active::before {
  border: none;
}

/* Editions */

.section-editions {
  background-image: url('../img/editions/editions-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.section-editions__left {
  width: 297px;
  margin-right: 50px;
}

.section-editions__container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 72px;
}

.section-editions__edition-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.section-editions__swiper-slide {
  height: 100%;
  padding-top: 94px;
}

.swiper-container.section-editions__swiper {
  margin-top: 0;
  height: auto;
}

.section-editions__swiper-wrapper {
  padding-top: 0;
  height: 100%;
}

.section-editions__title {
  margin-bottom: 16px;
  color: var(--white);
}

.section-editions__filters-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
}

.section-editions__filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

.section-editions__label {
  position: relative;
  padding-left: 24px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
}

.section-editions__label:hover .section-editions__checkbox + span,
.section-editions__label:active .section-editions__checkbox + span,
.section-editions__label:focus .section-editions__checkbox + span {
  border-color: var(--light-purple);
}

.section-editions__label:hover .section-editions__checkbox + span + .section-editions__checkbox-text,
.section-editions__label:active .section-editions__checkbox + span + .section-editions__checkbox-text,
.section-editions__label:focus .section-editions__checkbox + span + .section-editions__checkbox-text {
  color: var(--light-purple);
}

.section-editions__checkbox {
  display: none;
}

.section-editions__checkbox + span{
  position: absolute;
  top: 10px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid var(--white);

  transition: border .15s ease-in;
}

.section-editions__checkbox:checked + span{
  border: 1px solid var(--light-purple);
}

.section-editions__checkbox + span::before,
.section-editions__label:active .section-editions__checkbox + span::before {
  position: absolute;
  content: '';
  transform: scale(0);
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--light-purple);

  transition: transform .15s ease-in;
}

.section-editions__checkbox:checked + span::before {
  transform: scale(1);
}

.section-editions__label-active {
  color: var(--light-purple);
}

.section-editions__checkbox-text {
  transition: color .15s ease-in;
}

.section-editions__checkbox:checked + span + .section-editions__checkbox-text {
  color: var(--light-purple);
}

.section-editions__price-title {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: var(--white);
}

.section-editions__price-input {
  display: inline-block;
  width: max-content;
  border: 1px solid #FFFFFF80;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
}

.section-editions__price-input-text {
  padding-right: 6px;
  padding-left: 9px;
  display: inline;
}

.section-editions__price-input-text:nth-child(3) {
  padding-left: 6px;
}

.section-editions__price-input-text:nth-child(5) {
  padding-left: 6px;
  padding-right: 9px;
}

.section-editions__input {
  width: 73px;
  height: 38px;
  border: none;
  padding-left: 10px;

  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);

  background-color: rgba(157, 92, 208, 0.5);
  outline: 1px solid transparent;

  transition: background-color .15s ease-in, outline .15s ease-in;
}

.section-editions__input:hover {
  background-color: #9D5CD0;
  outline: 1px solid #9D5CD0;
}

.section-editions__input:focus {
  background-color: #9D5CD0;
  outline: 1px solid #fff;
}

.section-editions__input:active {
  background-color: var(--dark-purple);
  outline: 1px solid var(--dark-purple);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.section-editions__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--white);
}

.section-editions__swiper .swiper-button-next,
.section-editions__swiper .swiper-button-prev {
  top: 48px;
  margin-left: -3px;
}

.section-editions__swiper .swiper-pagination {
  top: 40px;
  margin-left: 48px;
}

.section-editions__edition-name {
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
}

.section-editions__edition-price {
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  color: var(--white);
}

.section-editions__swiper-slide .swiper-slide__img {
  margin-bottom: 20px;
  width: 100%;
}

.section-editions__btn {
  position: relative;
  padding: 5.5px 19.5px;
  border: 2px solid #9D5CD0;
  margin-bottom: 5px;

  font-size: 16px;

  background-color: transparent;

  transition: background-color .15s ease-in, border .15s ease-in, padding .15s ease-in;
}

.section-editions__btn:focus::before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  content: '';
  border-radius: 100px;
  border: 2px solid #C283F3;
}

.section-editions__btn:active::before {
  border: none;
}

.section-editions__btn:hover::before {
  border: none;
}

.section-editions__btn:hover {
  background-color: var(--purple);
}

.section-editions__btn:active {
  padding: 4.5px 18.5px;
  border: 3px solid #D1A9F0;
  background-color: var(--dark-purple);
}

/* Projects */

.section-projects__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-projects__title {
  margin-bottom: 16px;
}

.section-projects__description {
  margin-bottom: 20px;
  max-width: 1080px;
}

.section-projects__tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--purple);
  cursor: help;
  margin-right: 1px;

  color: var(--black);

  transition: background-color .15s ease-in;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  max-width: 264px;
  width: max-content;
  background-color: var(--purple);
  text-align: center;
  padding: 10px 13px;
  bottom: 200%;

  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;

  transition: opacity .15s ease-in;
}

.section-projects__tooltip:hover,
.section-projects__tooltip:focus {
  background-color: #D1A9F0;
}

.section-projects__tooltip:active {
  background-color: var(--purple);
}

.section-projects__tooltip svg path {
  transition: fill .15s ease-in;
}

.section-projects__tooltip:active svg path {
  fill: var(--white);
}

.section-projects__tooltip:active .tooltip {
  opacity: 1;
  visibility: visible;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--purple) transparent transparent transparent;
}

.section-projects__description-link {
  font-weight: 600;
  color: var(--purple);

  text-decoration: solid 1px underline transparent;
  text-underline-offset: 7px;

  transition: text-decoration .15s ease-in, color .15s ease-in;
}

.section-projects__description-link:focus {
  outline: 5px solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}

.section-projects__description-link:hover {
  text-decoration: solid 1px underline var(--purple);
  text-underline-offset: 7px;
}

.section-projects__description-link:active {
  outline: none;
  background-color: transparent;
  color: var(--dark-purple);
  text-decoration: solid 1px underline var(--dark-purple);
  text-underline-offset: 7px;
}

.section-projects__partners {
  margin-bottom: 23px;

  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark);
}

.section-projects__swiper-container {
  position: relative;
}

.section-projects__swiper {
  width: calc(100% - 150px);
}

.section-projects__swiper-wrapper {
  padding-top: 0;
}

.section-projects__swiper-wrapper .swiper-slide {
  width: calc(33.33% - 33.33px) !important;
  height: auto;
}

.section-projects__swiper-button-prev,
.section-projects__swiper-button-next {
  top: 50%;
}

.section-projects__swiper-button-prev {
  left: 0;
}

.section-projects__swiper-button-next {
  right: 0;
  left: auto;
}

.section-projects__swiper-img {
  filter: grayscale(1);
  opacity: .3;
  width: 100%;

  transition: filter .15s ease-in, opacity .15s ease-in;
}

.section-projects__swiper-link {
  display: flex;
  outline: 1px solid #cacaca;
  outline-offset: -1px;

  transition: outline-color .15s ease-in;
}

.section-projects__swiper-link:active,
.section-projects__swiper-link:focus {
  outline-color: var(--purple);
}

.section-projects__swiper-link:active .section-projects__swiper-img {
  filter: none;
  opacity: 1;
}

.section-projects__swiper-link:hover .section-projects__swiper-img {
  filter: none;
  opacity: 1;
}

.section-projects__swiper-button-prev::after {
  background-image: url('../img/svg/prev-2.svg');
  background-position-x: 11px;
}

.section-projects__swiper-button-next::after {
  background-image: url('../img/svg/next-2.svg');
  background-position-x: 8px;
}

.section-projects__swiper-button-prev::after,
.section-projects__swiper-button-next::after {
  background-color: #ececec;

  transition: background-position .15s ease-in, background-color .15s ease-in;
}

.section-projects__swiper-button-prev:focus::after,
.section-projects__swiper-button-next:focus::after {
  height: 26px;
  border: 2px solid var(--purple);
  background-position-x: center;
}

.section-projects__swiper-button-prev:hover::after,
.section-projects__swiper-button-next:hover::after {
  background-color: #D1A9F0;
}

.section-projects__swiper-button-prev:active:after,
.section-projects__swiper-button-next:active:after {
  background-color: #D1A9F0;
  border: 2px solid var(--purple);
}

/* Contacts */

.section-contacts__bottom {
  display: flex;
}

.section-contacts__title {
  margin-bottom: 16px;
  padding-left: 160px;
}

.section-contacts__left {
  padding: 123px 122px 0 159px;
  border: 1px solid #cacaca;
  width: 682px;
  height: 700px;
}

.section-contacts__left-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--dark);
}

.section-contacts__address {
  margin-bottom: 35px;

  color: var(--dark);
}

.section-contacts__form-title {
  margin-bottom: 16px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--dark);
}

.section-contacts__form {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 38px;
}

.section-contacts__input {
  margin-bottom: 23px;
  padding: 4px 23px;
  height: 40px;
  width: 400px;
  border: 1px solid var(--dark);
  border-radius: 100px;

  color: var(--dark);

  transition: background-color .15s ease-in;
}

.section-contacts__input:hover,
.section-contacts__input:active,
.section-contacts__input:focus {
  background-color: #ececec;
}

.section-contacts__input:nth-child(2) {
  margin-bottom: 22px;
}

.section-contacts__input::placeholder {
  line-height: 32px;
  color: var(--light-gray);
}

.section-contacts__btn-submit {
  position: relative;
  align-self: start;
  padding: 15px 33.5px;

  border: 2px solid var(--purple);

  color: var(--purple);

  background-color: transparent;

  transition: background-color .15s ease-in, color .15s ease-in;
}

.section-contacts__btn-submit:focus::before {
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  content: '';
  border-radius: 100px;
  border: 2px solid var(--light-purple);
}

.section-contacts__btn-submit:hover {
  color: var(--white);
  background-color: var(--purple);
}

.section-contacts__btn-submit:active {
  padding: 14px 32px;
  color: var(--white);
  background-color: var(--dark-purple);
  border: 3px solid #D1A9F0;
}

.section-contacts__btn-submit:active::before {
  border: none;
}

.section-contacts__links-title {
  margin-bottom: 15px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: var(--dark);
}

.section-contacts__link {
  transition: opacity .15s ease-in;
}

.section-contacts__link:hover,
.section-contacts__link:focus {
  opacity: .5;
}

.section-contacts__link:active svg {
  border: 1px solid #9643A4;
  border-radius: 100%;
}

.section-contacts__list {
  display: flex;
}

.section-contacts__item {
  margin-right: 20px;
}

.section-contacts__map {
  width: 100%;
  height: 700px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.js-validate-error-label {
  color: #D11616 !important;
  padding-left: 25px;
  font-size: 12px;
  line-height: 16px;
}

.js-validate-error-field {
  border: 1px solid #D11616 !important;
}

/* Footer */

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: var(--black);
}

.footer__social-list {
  margin-top: -3px;
}

.footer__social-item:not(:last-child){
  margin-right: 16px;
}

.footer__social-link .footer__social-logo path {
  transition: fill .15s ease-in;
}

.footer__social-link:focus .footer__social-logo path,
.footer__social-link:hover .footer__social-logo path {
  fill: var(--white);
}

.footer__social-link:active .footer__social-logo path {
  fill: var(--purple);
}

/* Animation */

/* @keyframes zoom-in-out {
  0% {background-size: 100%;}
  50% {background-size: 110%;}
  100% {background-size: 100%;}
} */
